.sms-check-code-wrapper {
    width: 94%;
    margin: 0 auto;
    font-size: 14px;
    overflow: hidden;
}
.sms-check-code-wrapper .sms-code-container {
    width: 100%;
    padding: 20px 0;
    margin: 0 auto;
}

.sms-check-code-wrapper .sms-code-title {
    text-align: center;
}
.sms-check-code-wrapper .sms-code-box {
    position: relative;
    height: 80px;
}

.sms-check-code-wrapper .sms-code-box .sms-code-input-box {
    padding-top: 46px;
    text-align: left;
}

.sms-check-code-wrapper .sms-code-box .sms-code-input-box .sms-code-input {
    font-size: 30px;
    height: 24px;
    border: none;
    outline: none;
}

.sms-check-code-wrapper .sms-code-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.sms-check-code-wrapper .sms-code-item {
    width: 14%;
    margin-right: 4%;
}
.sms-check-code-wrapper .sms-code-item:last-child {
    margin-right: 0;
}

.sms-check-code-wrapper .sms-code-item .sms-value {
    display: block;
    margin: 0 auto;
    text-align: center;
    height: 26px;
}

.sms-check-code-wrapper .sms-code-bottom .sms-code-item .sms-line {
    display: block;
    height: 2px;
    background: #b1b1b1;
    margin: 0 auto;
}
.sms-check-code-wrapper .sms-code-bottom .sms-code-item .sms-line.error {
    animation: shakeMove cubic-bezier(.09, .88, .2, .17) .2s 1;
}

.sms-check-code-wrapper .sms-code-bottom .sms-code-item .error {
    animation: shakeMove cubic-bezier(.09, .88, .2, .17) .2s 1;
}

.sms-check-code-wrapper .flex-sb {
    display: flex;
}


.sms-check-code-wrapper input {
    padding: 0;
    margin: 0;
}


@keyframes shakeMove {
    0% {
        transform: translate3d(0, 0, 0);
    }
    25% {
        transform: translate3d(10px, 0, 0);
    }
    50% {
        transform: translate3d(-10px, 0, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}
